<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">REGISTRATION FORM</h1>
    <form action="" method="post">
        <table>
            <tr>
                <th>FIRST NAME</th>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <th>LAST NAME</th>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <th>PLACE</th>
                <td><input type="text" name="place"></td>
            </tr>
            <tr>
                <th>PHONE</th>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <th>USERNAME</th>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <th>PASSWORD</th>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td><input type="submit" value="register" name="reg"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>