{% include 'adminheader.html' %}
<br><br><br><br><br><br>
<body>
 <!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
  
      <div class="carousel-inner" role="listbox">
  
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(https://img.freepik.com/free-photo/abstract-blur-hotel-interior_1203-8529.jpg?w=740&t=st=1704906178~exp=1704906778~hmac=fa4832338786c8a3b4ed4f5678986d5b1c2d78bdf8eb4b55960962435d3ec30b)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown"><span>SEND REPLY</span></h2>
            </div>
          </div>
        </div>
  
        
      </div>
  
  
    </div>
  </section>   
<br><br><br><br>
<h1 align="center">SEND REPLY FOR COMPLAINTS</h1>
<br><br><br>

<form action="" method="post">
    <table align="center">
        <tr>
            
            <td><input type="text" name="reply" style="padding: 10px 15px; border-radius:8px" placeholder="Reply"></td>
        </tr>
        <tr>
            <td align="center"><br><input type="submit" class="form-control" style="background-color: rgb(175, 153, 164);" value="send" name="submit"></td>
        </tr>

    </table>


    <style>
      body {
        background-color: #fcfbfb;
        font-family: "Roboto", helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
        }
        
        div.table-title {
         display: block;
        margin: auto;
        max-width: 600px;
        padding:5px;
        width: 100%;
        }
        .table-title h3 {
          color: #fafafa;
          font-size: 30px;
          font-weight: 400;
          font-style:normal;
          font-family: "Roboto", helvetica, arial, sans-serif;
          text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
          text-transform:uppercase;
        }
        .table-fill {
          background: white;
          border-radius:3px;
          border-collapse: collapse;
          height: 320px;
          margin: auto;
          max-width: 600px;
          padding:5px;
          width: 100%;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
         
        th {
          color:#D5DDE5;
          background:#1b1e24;
          border-bottom:4px solid #9ea7af;
          border-right: 1px solid #343a45;
          font-size:23px;
          font-weight: 100;
          padding:24px;
          text-align:left;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          vertical-align:middle;
        }
        
        th:first-child {
          border-top-left-radius:3px;
        }
         
        th:last-child {
          border-top-right-radius:3px;
          border-right:none;
        }
          
        tr {
          border-top: 1px solid #C1C3D1;
          color:#666B85;
          font-size:16px;
          font-weight:normal;
          text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        }
         
        tr:hover td {
          background:#a5a8c5;
          color:#FFFFFF;
          border-top: 1px solid #22262e;
        }
         
        tr:first-child {
          border-top:none;
        }
        
        tr:last-child {
          border-bottom:none;
        }
         
        tr:nth-child(odd) td {
          background:#EBEBEB;
        }
         
        tr:nth-child(odd):hover td {
          background:#4E5066;
        }
        
        tr:last-child td:first-child {
          border-bottom-left-radius:3px;
        }
         
        tr:last-child td:last-child {
          border-bottom-right-radius:3px;
        }
         
        td {
          background:#fcfbfb;
          padding:20px;
          text-align:left;
          vertical-align:middle;
          font-weight:300;
          font-size:18px;
          text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
          border-right: 1px solid #C1C3D1;
        }
        
        td:last-child {
          border-right: 0px;
        }
        
        th.text-left {
          text-align: left;
        }
        
        th.text-center {
          text-align: center;
        }
        
        th.text-right {
          text-align: right;
        }
        
        td.text-left {
          text-align: left;
        }
        
        td.text-center {
          text-align: center;
        }
        
        td.text-right {
          text-align: right;
        }
        
  
       
    </style>
    <br><br><br><br><br><br>

</body>
    {% include 'footer.html' %}